.Select-layout {
  width: 240px;
  position: relative;
  color: rgba(25, 31, 77, 1);
}

.Select-layout-wrap-list {
  box-sizing: border-box;
  width: 240px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  background-color: rgba(255, 255, 255, 1);
}

.Select-layout-wrap-span {
  display: flex;
  width: 90%;
  height: 30px;
}

.Select-layout-code {
  width: 8.5%;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 8px;
  background-color:rgba(111, 126, 255, 1);
  color: rgba(255, 255, 255, 1);
  margin-right: 7px;
  border-radius: 3px;
}

.Select-layout-list-codes {
  padding: 8px;
  word-wrap: break-word;
}

.Select-layout-code-text {
  width: 18px;
  margin-right: 10px;
  font-size: 10px;
  background-color:rgba(111, 126, 255, 1);
  color: rgba(255, 255, 255, 1);
  padding: 3px;
  border-radius: 3px;
  white-space: nowrap;
  cursor: pointer;
}

.Select-layout-code_select {
  width: 18px;
}

.Select-layout-text {
  width: 80%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.Select-layout-wrap-input {
  width: 217px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 1);
}

.Select-layout-list {
  width: 225px;
  max-height: 163px;
  overflow-y: scroll;
  list-style-type: none;
  margin: 0;
  padding: 5px;
  /* background-attachment: local, local;
  background-image: url("../../assets/images/rectangle.png");
  background-repeat: no-repeat, no-repeat; */
}

.Select-layout-list::-webkit-scrollbar {
  width: 7px;
  overflow: hidden;
}

.Select-layout-list::-webkit-scrollbar-track {
  background: transparent;
}

.Select-layout-list::-webkit-scrollbar-thumb {
  /* background: #e5e6e9; */
  background-image: url("../../assets/images/rectangle.png");
  border-radius: 8px;
}

.Select-layout-item_selected {
  background-color: rgba(128, 141, 255, 1);
  border-bottom: 1px solid rgb(234, 234, 236);
}

.Select-layout-item {
  display: flex;
  align-items: center;
  height: 30px;
  font-weight: 400;
  font-size: 15px;
  padding-left: 5px;
  cursor: pointer;
}

.Select-layout-item:not(.Select-layout-item_selected):hover {
  background-color: rgba(219, 223, 255, 1);
  overflow-y: auto;
  cursor: pointer;
}

.Select-layout-item_hover {
  background-color: rgba(219, 223, 255, 1);
}

.Select-layout-input {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 30px;
  background-color: rgba(255, 255, 255, 1);
  padding: 8px;
  box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
}

.Select-layout-input_select {
  box-shadow: none;
}
