.Toolbar {
  box-sizing: border-box;
  font-size: 16px;
  letter-spacing: 1px;
  height: 40px;
  padding-left: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  box-shadow: 0 4px 5px gray;
  z-index: 999;
  color: #5f5d61;
}

.Toolbar-btn {
  height: 25px;
  width: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  background-size: cover;
  margin-left: 10px;
}

.Toolbar-btn:active {
  opacity: 0.5;
}

.Toolbar-btn_brush {
  background: url("../../../../assets/images/drawing_toolbar/brush.png")
    no-repeat center center;
}

.Toolbar-btn_rect {
  background: url("../../../../assets/images/drawing_toolbar/rect.png")
    no-repeat center center;
}

.Toolbar-btn_circle {
  background: url("../../../../assets/images/drawing_toolbar/circle.png")
    no-repeat center center;
}

.Toolbar-btn_eraser {
  background: url("../../../../assets/images/drawing_toolbar/eraser.png")
    no-repeat center center;
}

.Toolbar-btn_line {
  background: url("../../../../assets/images/drawing_toolbar/line.png")
    no-repeat center center;
}

.Toolbar-btn_pointer {
  background: url("../../../../assets/images/drawing_toolbar/pointer.png")
    no-repeat center center;
}

.Toolbar-btn_undo {
  margin-left: auto;
  background: url("../../../../assets/images/drawing_toolbar/undo.png")
    no-repeat center center;
}

.Toolbar-btn_redo {
  background: url("../../../../assets/images/drawing_toolbar/redo.png")
    no-repeat center center;
}

.Toolbar-btn_save {
  background: url("../../../../assets/images/drawing_toolbar/save.png")
    no-repeat center center;
  margin-right: 10px;
}

.Toolbar-btn_arrow {
  height: 25px;
  width: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  background: url("../../../../assets/images/drawing_toolbar/arrow-down.png")
    no-repeat center center;
  background-size: 20px;
  margin-left: 10px;
}

