.Setting_bar {
  box-sizing: border-box;
  font-size: 14px;
  letter-spacing: 1px;
  padding-left: 10px;
  height: 50px;
  padding-top: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  box-shadow: 0 4px 5px gray;
  top: 40px;
  color: #5f5d61;
}

.Setting_bar-input {
  margin: 0 10px;
  font-size: 14px;
}

.Setting_bar-input_color {
  width: 26px;
  border: 0;
}

